{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>
<body>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <div id="sidebar">
    <h2>Типы двигателей</h2>
    <p>Этот блог полностью посвящён разнообразным двигателям, которые на даннй момент применяются в различных областях техники.</p>
    <p class="sidebar_img"><img src="{% static 'img/12.jpg' %}"></p>
  </div>
</body>
</html>
